body {
    background-color: rgb(239, 217, 202);
}

.container,
.container-fluid {
    background-color: rgb(109, 240, 194);
    border: black solid 15px;
    color: rgb(0, 0, 0);
}

.row {
    background-color: rgb(236, 93, 23);
    border: rgb(255, 199, 64) solid 10px;
}

[class*="col"] {
    border: black solid 5px;
    background-color: rgb(100, 0, 228);
    color: rgb(255, 255, 255);
}


/* h5 {
    display: inline-block;
    width: 3rem;
}

span {
    margin-left: 10px;
    display: inline!important;
} */

.parallax {
    /* The image used */
    background-image: url("./Bitcoin-parellelex.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* scroll bar styling */

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background-color: #28A745;
    /* background-color: #1e1e24; */
}

::-webkit-scrollbar-thumb {
    background: orange;
    /* background: black; */
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* ::-webkit-scrollbar-button {
    background-color: yellow;
} */


/* 
::-webkit-scrollbar-track-piece {
    background-color: purple;
} */